<!-- Fixed dual navigation -->
<div class="fixed-nav-pair">
  <div class="fixed-nav nav-top">
    <div class="nav-top-content top-1">
      <span class="title">NEXTSTUDIO</span>
      <span class="subtitle">Digital creative studio</span>
    </div>
    <div class="nav-top-content top-2">
      <span class="title">Multi-disciplined</span>
      <span class="subtitle">Design + code + content</span>
    </div>
    <div class="nav-top-content top-3"></div>
    <div class="nav-top-content top-4">
      <span class="title">Europe based</span>
      <span class="subtitle">Working globally</span>
    </div>
  </div>
  <div class="fixed-nav nav-bottom">
    <div class="nav-bottom-content nav-bottom-left">
      <img src="../assets/img/logo.svg" class="pill-logo nav-item" />
      <span class="pill nav-item active">Contact</span>
      <span class="pill nav-item">Menu</span>

      <span class="hover-indicator"></span>
    </div>

    <div class="nav-bottom-content nav-bottom-right">
      <img src="../assets/img/sun.svg" alt="Logo" class="pill-sun" />
    </div>
  </div>
</div>
