<div class="title-container">
  <span class="bracket bracket-left">[</span>

  <h1 class="main-title">
    <span class="title-mask">
      <span class="title-char" style="--char-index: 0">S</span>
      <span class="title-char" style="--char-index: 1">E</span>
      <span class="title-char" style="--char-index: 2">R</span>
      <span class="title-char" style="--char-index: 3">V</span>
      <span class="title-char" style="--char-index: 4">I</span>
      <span class="title-char" style="--char-index: 5">C</span>
      <span class="title-char" style="--char-index: 6">E</span>
      <span class="title-char" style="--char-index: 7">S</span>
    </span>
  </h1>

  <span class="bracket bracket-right">]</span>
</div>
